@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: 40% 60%;
    height: 100vh;
    overflow: hidden;
}

.sidebarLeft {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
}

.bgImg {
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: luminosity;
  background-color: #fff;
  height: 100%;
  width: 100%;
}

.sidebarRight {
  height: 100vh;
  overflow-y: auto;
  padding: 20px;
  background-color: #fff; 
}
