@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
}

.sidebarLeft {
    width: 40%;
    background-color: aqua;
} 

.backgroundImg {
    background-image: url("../images/bg.jpg");
}